<%= form_tag new_booking_path, method: :get do %>
	<table>
		<thead>
			<tr>
				<th>Select</th>
				<th>Flight</th>
				<th>Date</th>
				<th>Departs</th>
				<th>From</th>
				<th>To</th>
				<th>Duration</th>
			</tr>
		</thead>

		<div class="search_results">
			<tbody>
				<% @flights.each do |flight| %>
				<tr>
					<td><%= radio_button_tag :flight_id, flight.id %></td>
					<td><%= flight.id %></td>
					<td><%= flight.depart_at.strftime("%B %d, %Y") %></td>
					<td><%= flight.depart_at.strftime("%I:%M:%S %p") %></td>
					<td><%= flight.from_airport.airport_code %></td>
					<td><%= flight.to_airport.airport_code %></td>
					<td><%= distance_of_time_in_words(flight.duration) %></td>
				</tr>
				<% end %>
			</tbody>
		</div>
	</table>
	<%= submit_tag "Select Flight", name: nil, class: "button" %>
	<%= hidden_field_tag :passengers, params[:passengers] %>
<% end %>